@font-face {
    font-family: keyboard;
    src: url('../font/adobemingstd-light.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: keyboard;
}

body {
    background: rgb(200, 200, 200);
    background: linear-gradient(360deg, rgba(200, 200, 200, 1) 0%, rgba(88, 88, 88, 1) 31%, rgba(0, 0, 0, 1) 100%);
}